@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    color: #444444;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Bebas Neue', cursive;
}

header{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.title-page{
    background-color: #444;
    color: #ebebeb;
}

h1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 50px;
}


table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: #444444;
    color: #efefef;
}

th{
    text-align: left;
}

tr:nth-child(even){
    background-color: #dbdbdb;
}

tr{
    border-bottom: 1px solid #444444;
}

.container{
    width: 80%;
    margin: auto;
}

.main{
    margin-top: 2%;
    margin-bottom: 10%;
}

.section-datas{
    padding: 15px;
    margin-top: 35px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #444444;
}

article{
    margin-top: 20px;
}

article header h1{
    border-bottom-style: dotted;
}

article main header, article main header h2, .reduced-list header h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h2{
    width: 100%;
}

code{
    text-align: center;
    display: flex;
    justify-content: center;
}

code pre{
    background-color: #444444;
    color: #a6cca6;
    font-size: 1em;
    padding: 15px;
}

footer{
    width: 100%;
    border-top: 1px solid #444444;
    text-align: center;
}

footer p{
    margin-top: 2%;
    margin-bottom: 1%;
}

ul, ol{
    padding: 15px 40px;
}

.by-oldest{
    margin-top: 15px;
}

.using-reduce h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.original-list{
    margin-bottom: 15px;
    border-bottom: 1px solid #444444;
}

@media only screen and (min-width: 768px){
    
    .using-map ul, .by-alphabetically ul{
        columns: 3;
    }

    .using-reduce ol{
        columns: 7;
    }

    .using-reduce ul{
        columns: 5;
    }

    code pre{
        text-align: center;
        font-size: 1.5em;
    }

}