.main-content {
    padding-top: 5%;
    padding-bottom: 10%;
    .container{
        
        padding: 15px;
        .row{

            .card{
                height: 90%;
                margin: 10px;
                background-color: $backgroung-card;
                box-shadow: 1px 1px 5px #000000;
                text-align: center;

                figure a{
                    color: $color-font;
                }

                figcaption{
                    padding: 10px;

                    h2{
                        font-size: 1.5em;
                    }
                }

                main{
                    padding: 15px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 768px){
    .main-content{
        .row {
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: 769px){
    .main-content{
        .row {
            display: flex;
        }
    }
}