@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700&display=swap');

$title-font: 'Bebas Neue', cursive;
$text-font: 'Montserrat', sans-serif;
$font-weight-semi-bold: 600;

$body-backgroung-color: #ebebeb;
$color-font: #160a26;
$link-color: #A65198;

$backgroung-card: #ffffff;
$header-title-color: #F28379;
$header-backgroung-color: #411D59;
$main-background-color: #F28379;

// .purple-galaxy-1-hex { color: #D984A3; }
// .purple-galaxy-2-hex { color: #A65198; }
// .purple-galaxy-3-hex { color: #411D59; }
// .purple-galaxy-4-hex { color: #160A26; }
// .purple-galaxy-5-hex { color: #F28379; }

